h1 {
  background: rgb(209, 17, 17);
  margin-left: 200px;
  color: #ffffff;
  font-family: "Lucida Sans";
  border: solid black 2px;
  border-radius: 15px;
  padding: 15px;
  width: 500px;
  text-align: center;
}

li {
  text-align: center;
  margin-bottom: 50px;
  border: solid 2px black;
  border-radius: 10px;
  padding: 20px;
  background: greenyellow;
  font-size: 10px;
  width: 600px;
}

li:hover {
  background: #ffffff;
  transform: scale(1.1);
}

body {
  background: rgba(35, 35, 67, 0.813);
}

ul {
  text-align: center;
  margin: 60px;
}

.container {
  background-color: rgba(0, 0, 255, 0.3);
  color: yellow;
}
